# Database files
data/air.db
*.db
*.sqlite3

# Python
__pycache__/
*.py[cod]
*$py.class
.env
venv/

# PyCharm
.idea/

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# Raw data files (if you don't want to track these)
data/data_raw/*.csv

# OS files
.DS_Store
Thumbs.db
