{% extends "layout.html" %}

{% block title %}
    Explore Data
{% endblock %}

{% block main %}
    <h1>Tabular Data for the Oxford and London Area</h1>
    <P>Use the drop-down menus to filter the data</P>

    <!--  Data selection buttons  -->
        <div class="mb-4">
            <!--    Ocford vs London dropdown Buttons    -->
            <form action="/explore" method="get" style="margin-top: 30px; margin-bottom: 30px">
                <button class="btn btn-primary me-2" name="location-data-selection" value="oxford"
                       aria-label="Select location"
                       type="submit"
                       style="width: auto; min-width: 200px">
                    Oxford Data</button>
                <button class="btn btn-primary" name="location-data-selection" value="london"
                       aria-label="Select location"
                       type="submit"
                       style="width: auto; min-width: 200px">
                    London Data</button>
            </form>
        </div>


    <!--  Main location drop-down menu  -->
    <div class="d-flex gap-4">
        <!-- Left sidebar with dropdowns -->
        <div class="flex-shrink-0" style="width: 220px">
            <!--    Main locations dropdown menu    -->
            <form action="{{ url_for('explore') }}" method="get" class="mb-3">

                <!-- Sort ascending or descending -->
                <div class="form-check">
                    <input class="form-check-input"
                           type="radio"
                           name="sort_order"
                           value="asc"
                           id="sortAsc"
                           {% if sort_order == 'asc' %}checked{% endif %}
                    onchange="this.form.submit()">
                    <label class="form-check-label" for="sortAsc">
                        Sort ascending (date)
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input"
                           type="radio"
                           name="sort_order"
                           value="desc"
                           id="sortDesc"
                           {% if sort_order == 'desc' or not sort_order %}checked{% endif %}
                    onchange="this.form.submit()">
                    <label class="form-check-label" for="sortDesc">
                        Sort Descending (date)
                    </label>
                </div>

                <!-- Main locations dropdown -->
                <select class="form-select dropdown-menu-style"
                        name="main_location"
                        onchange="this.form.submit()"
                        aria-label="Select main location"
                        style="width: auto; min-width: 200px">
                    <option value="" disabled selected>Main Location</option>
                    {% for location in locations %}
                    <option value="{{ location.name }}"
                            {% if selected_main_location and location.name == selected_main_location %}selected{% endif %}>
                        {{ location.name }}</option>
                    {% endfor %}
                </select>

                <!-- Sub-locations dropdown -->
                <select class="form-select dropdown-menu-style"
                        name="sub_location"
                        onchange="this.form.submit()"
                        aria-label="Select sub location"
                        style="width: auto; min-width: 200px">
                    <option value="" disabled selected>Sub Location</option>
                    {% for sub_location in sub_locations %}
                    <option value="{{ sub_location.name }}"
                            {% if selected_sub_location and sub_location.name == selected_sub_location %}selected{% endif %}>
                        {{ sub_location.name }}</option>
                    {% endfor %}
                </select>

                <!-- Pollutants dropdown -->
                <select class="form-select dropdown-menu-style"
                        name="pollutant"
                        onchange="this.form.submit()"
                        aria-label="Select pollutant"
                        style="width: auto; min-width: 200px">
                    <option value="" disabled selected>Pollutant</option>
                    {% for pollutant in pollutants %}
                    <option value="{{ pollutant.name }}"
                            {% if selected_pollutant and pollutant.name == selected_pollutant %}selected{% endif %}>
                        {{ pollutant.name }}</option>
                    {% endfor %}
                </select>

                <!-- Number of records input -->
                <input type="text"
                       class="form-control dropdown-menu-style mb-3"
                       name="num_records"
                       placeholder="Num Records (days)"
                       aria-label="Enter number of days"
                       min="1"
                       max="1000"
                       value="{{ selected_num_records if selected_num_records }}"
                       style="width: auto; min-width: 200px"
                       onchange="this.form.submit()">


                <!--        The Download Button   -->
                <div style="width: auto; min-width: 200px">
                    <a href="{{ url_for('download') }}?{{ request.query_string.decode() }}"
                       class="btn btn-warning mb-3"
                       style="width: auto; min-width: 200px; max-width: 200px; display: block;">
                        Download Data (CSV)
                    </a>
                </div>

            </form>
        </div>


        <!--            Data table content-->
        <div class="flex-grow-1">
            <div class="table-responsive">
                <table class="table table-bordered table-hover" style="caption-side: top;">
                    <caption>{{ location }} Dataset</caption>
                    <thead class="table-secondary">
                        <tr>
                            <th scope="col">Main Location</th>
                            <th scope="col">Sub Location</th>
                            <th scope="col">Pollutant</th>
                            <th scope="col">Value</th>
                            <th scope="col">Status</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in data %}
                            <tr>
                                <td>{{ row.loc_name }}</td>
                                <td>{{ row.sub_name }}</td>
                                <td>{{ row.pollutant_name }}</td>
                                <td>{{ row.value }}</td>
                                <td>{{ row.status }}</td>
                                <td>{{ row.measured_at }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
